{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <form method="POST" class="col s12">
            {{ form.hidden_tag() }}
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">alternate_email</i>
                    {{ form.email(class='validate') }}
                    {{ form.email.label() }}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">password</i>
                    {{ form.password(class='validate') }}
                    {{ form.password.label() }}
                </div>
            </div>
            <dir class="row">
                <label class="input-field col s6">
                    {{ form.remember_me }}
                    <span>{{ form.remember_me.label.text}}</span>
                </label>
            </dir>
            <button type="submit" class="waves-effect waves-light btn light-blue darken-1 white-text">Login</button>
        </form>
    </div>
{% endblock %}