{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <form method="POST" class="col s12">
            {{ form.hidden_tag() }}
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">account_circle</i>
                    {{ form.username(class='validate') }}
                    {{ form.username.label() }}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">alternate_email</i>
                    {{ form.email(class='validate') }}
                    {{ form.email.label() }}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">password</i>
                    {{ form.password(class='validate') }}
                    {{ form.password.label() }}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">password</i>
                    {{ form.confirm_password(class='validate') }}
                    {{ form.confirm_password.label() }}
                </div>
            </div>
            <button type="submit" class="waves-effect waves-light btn light-blue darken-1 white-text">Register</button>
        </form>
    </div>
{% endblock %}