<nav class="light-blue darken-1 white-text">
    <div class="nav-wrapper">
        <div class="container">
            <a href="{{ url_for('main.index') }}" class="brand-logo">Logo</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                {% if current_user.is_authenticated %}
                    <li>Hello, {{ current_user.username | capitalize }}</li>
                    <li><a href="{{ url_for('auth.logout') }}">Sign out</a></li>
                {% else %}
                    <li><a href="{{ url_for('auth.login') }}">Sign in</a></li>
                    <li><a href="{{ url_for('auth.register') }}">Sign up</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
        