<h1>Dear {{ user.username }},</h1>
<h2>Welcome to Flasky!</h2>
<p>
    To confirm your account please click on the following
    <a href="{{ url_for('auth.confirm', token=token, _external=True) }}">link</a>
</p>
<p>Sincerely,</p>
<p>The Flasky Team</p>
<p>Note: replies to this email address are not monitored.</p>
