{% extends "base.html" %}

{% block content %}
    {% if name != None %}
        <h1>Hello, {{ name | capitalize }}!</h1>
    {% else %}
        <h1>Hello, World!</h1>
    {% endif %}
    <p class="flow-text">The local date and time is {{ moment(current_time).format('LLL') }}.</p>
    <p class="flow-text">That was {{ moment(current_time).fromNow(refresh=True) }}</p>
{% endblock %}
